<!DOCTYPE html>

<html>
    <head>
         <title>Error Page</title>
            <link rel="icon" href="/img/yes.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body background="/img/weather.jpg">
         <div class="main-content">
      {{>header}} 
        <p> {{errorMessage}} </p>
        </div>
        {{>footer}}
        
    </body>
    </body>
</html>