<!DOCTYPE html>

<html>
    <head>
         <title>Help Page</title>
            <link rel="icon" href="/img/yes.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
   <body background="/img/weather.jpg">
          <div class="main-content">
        {{>header}}
        <h3> This is Help Page</h3>
        </div>
         
        {{>footer}}
       
    </body>
</html>