/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 #map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }
  
  #infowindow-content .title {
    font-weight: bold;
  }
  
  #infowindow-content {
    display: none;
  }
  
  #map #infowindow-content {
    display: inline;
  }
  
  .pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
  }
  
  
  
  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }
  
  
  #address {
    background-color: #fff;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
    margin-left: -1px;
    margin-right: -3px;
    padding: 0 11px 0 11px;
    text-overflow: ellipsis;
    width: 300px;
    height: 28;
  }
  
  #address:focus {
    border-color: #f38d9e;
  }
  
  #title  {
    font-family: Roboto;
    text-align:center;
    color: #fff;
    background-color: #2544ccd2;  
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
    align-content: center;
  }
  #message-1{
    font-family: Roboto;
    background-color:#FFF;
    color:black;
    text-align:center;
    font-size: 18px;
    font-weight: 350;
  }

  #result-card {
    top: 0px;
    background-color:rgba(0,0,0,0.65);
    position: absolute;
    margin-left: 20px;
    height: 690px;
    width: 315px;
    
    font-family: Verdana, Geneva, sans-serif;
    color: #FFF;
    bottom: 0px;
    z-index: 1;
}

.submit-button {
  background-color:#2544ccd2;   

  border:2px solid rgb(221, 221, 221);
  padding:9px 30px;
  font-size: 10px;
  font-weight: 600;
  
  cursor: pointer;
  color: #ffffff;
  font-family: Open Sans,Verdana;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.submit-button:hover {
  border:2px solid #8aec86e8;
}
.reset-button {
  background-color:#f5a6a0f3;   

  border:2px solid rgb(221, 221, 221);
  padding:9px 30px;
  font-size: 10px;
  font-weight: 600;
  
  cursor: pointer;
  color: #ffffff;
  font-family: Open Sans,Verdana;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.reset-button:hover {
  border:2px solid #2e3f50e8;
}

.icons{
  width:60px;
  height: 60px;
         
}
    
.flex-container {
  display: flex;
  
  width: 120%;
  height: 60px;
 
  
  
  
}
.flex-container > div {
  width: 23%;
  height: 20px;
  margin: 15px;
  font-family: Roboto;
    
    font-size: 15px;
    font-weight: 650;
    
  
}